/* ============================
   VARIABLES DE COULEURS
============================= */
:root {
  --primary-color: #457b9d; /* Bleu principal */
  --secondary-color: #a8dadc; /* Cyan */
  --background-color: #f0f4f8; /* Fond clair */
  --text-color: #000; /* Texte noir */
  --hover-effect: rgba(69, 123, 157, 0.2); /* Effet de survol doux */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Ombres */
  --hover-shadow: rgba(0, 0, 0, 0.3); /* Ombres au survol */
  /* --highlight-color: #ff4e00; Couleur d'accent pour les hover */
}

/* ============================
   STYLES GÉNÉRAUX
============================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  line-height: 1.6;
}

/* ============================
   CONTENEUR PRINCIPAL
============================= */
.App-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ============================
   ENTÊTE
============================= */
.App-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 30px;
  background-color: var(--background-color);
  box-shadow: 0 12px 30px var(--shadow-color);
  border-radius: 15px;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
  animation: fadeIn 1.5s ease-out;
}

.App-header:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px var(--hover-shadow);
}

/* ============================
   LOGO
============================= */
.logo-container {
  margin-right: 20px;
  width: 400px;
}

.App-logo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.App-logo:hover {
  transform: rotate(360deg);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

/* ============================
   SECTION INTRODUCTION
============================= */
.intro-text {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: left;
  width: 100%;
}

.name {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 3px;
  transition: color 0.3s ease, transform 0.4s ease;
  animation: fadeIn 1.5s ease-out;
}

.name:hover {
  color: var(--highlight-color);
  /* transform: scale(1.05); */
}

.profession {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.profession:hover {
  color: var(--highlight-color);
}

.bio {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 1.7;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.bio:hover {
  color: var(--highlight-color);
}

/* ============================
   BOUTON "EN SAVOIR PLUS"
============================= */
.more-info-btn {
  background: var(--primary-color);
  color: white;
  padding: 12px 25px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.more-info-btn:hover {
  background: var(--secondary-color);
  transform: scale(1.05);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

/* ============================
   INFOS SUPPLÉMENTAIRES
============================= */
.more-info {
  margin-top: 20px;
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 1.6;
  max-height: 300px;
  overflow-y: auto;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

/* ============================
   ANIMATION FADE IN
============================= */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ============================
   RESPONSIVITÉ
============================= */
@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .logo-container {
    width: 180px;
    margin-bottom: 30px;
  }

  .App-logo {
    max-width: 220px;
  }

  .name {
    font-size: 2.5rem;
  }

  .profession {
    font-size: 1.6rem;
  }

  .bio {
    font-size: 1.1rem;
  }

  .more-info-btn {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .more-info {
    font-size: 1rem;
  }
}
  
